span.disease { background-color: yellow; } 
span.gene { background-color: lime; }  
span.mutation { background-color: rgb(255, 145, 0); }  
span.drug { background-color: #0ff; } 
span.pathway { background-color: rgb(225, 0, 255); } 
span.protein { background-color: rgb(255, 0, 0); }
span.mark7 { background-color: rgb(153, 0, 255); }  
